#login-dialog #content {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-padding: 20px 150px 10px 10px;
    -fx-max-width: 100%;
    -fx-pref-width: 100%;
    -fx-alignment: center;
}

#login-dialog .button {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: -jp-accent-color;
    -fx-text-fill: -jp-text-icons-color;
}

#login-dialog .text-field {
    -fx-focus-color: -jp-accent-color;
    -fx-unfocus-color: -jp-default-primary-color;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: -jp-secondary-text-color;
    -fx-text-fill: -jp-primary-text-color;
}

#login-dialog{
    -fx-background-color: -jp-light-primary-color;
}
#login-dialog > *.button-bar > *.container{
    -fx-background-color: -jp-light-primary-color;
}
#login-dialog:header *.header-panel{
    -fx-background-color: -jp-default-primary-color;
}
#login-dialog:header *.header-panel *.label{
    -fx-font-size: 25px;
    -fx-font-style: italic;
    -fx-text-fill: -jp-text-icons-color;
}