#login-screen {
    -fx-alignment: center;
}

#login-screen .text-field {
    -fx-focus-color: -jp-accent-color;
    -fx-unfocus-color: -jp-default-primary-color;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: -jp-secondary-text-color;
    -fx-text-fill: -jp-primary-text-color;
}

#login-screen #logo-text {
    -fx-font-size: 20pt;
    -fx-text-alignment: center;
}

#login-screen .button-raised-1 {
    -fx-min-width: 80px;
    -fx-background-color: -jp-dark-primary-color;
}

#login-screen #button-box {
    -fx-alignment: center;
    -fx-spacing: 20px;
}

#login-screen #box-container {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-min-width: 280px;
    -fx-padding: 20px 10px 10px 10px;
}